<header id="site-header">
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}/curriculum.html">Curriculum Vitae</a></li>
        <li><a href="{{ site.baseurl }}/mywork.html">My Work</a></li>
        <li><a href="{{ site.baseurl }}/publications.html">Publications</a></li>
        <li>
          <a href="{{ site.baseurl }}/about.html">About Me</a>
          <!-- Dropdown per About Me -->
          <ul class="dropdown">
            <li><a href="{{ site.baseurl }}/about.html#msc">MSC</a></li>
            <li><a href="{{ site.baseurl }}/about.html#phd">PhD</a></li>
            <li><a href="{{ site.baseurl }}/about.html#current">Current Position</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  